@media screen and (min-width: 0px) and (max-width: 800px){
    .menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .menu_liste{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    a:hover{
        cursor: pointer;
        border: none;
    }
    svg text{
        margin-top: 50px;
        font-size: 50px;
    }
    .carte{
        display: block;
    }
    .carte_info{
        text-align: center;
    }
    #propos{
        height: 1450px;
    }
    .img_profil{
        margin-bottom: 30px;
    }
    .container_section2{
        display: flex;
        flex-wrap: wrap;
        
    }
    .container_img{
        width: 100%;
    }
    .container_text{
        width: 90%;
    }
    .fa-search{
        
    }
    .container_section3{
        flex-wrap: wrap-reverse;
    }
    .margin_right{
        text-align: center;
        margin: 20px;
    }
    
    #actuellement{
        height: 400px;
    }
    .container_carte{
        
        flex-wrap: wrap;
        align-items: center;
    }
    .laCarte{
        width: 90%;
        margin-right: 0;
        margin-top: 10px;
        margin: 0;
        margin-bottom: 80px;
    }
    .derriereCarte{
        margin: 0;
        top: 0;
        bottom: 0;
    }
    .margin_top{
        margin-top: -50px;
    }
    #portfolio{
        height: 1450px;
    }
    .menu2{
        text-align: center;
    }
    

}
@media screen and (min-width: 450px) and (max-width: 800px){
    #propos{
        height: 1200px;
    }

}
@media screen and (min-width: 801px) and (max-width: 1200px){
    #propos{
        height: 1100px;
    }
    .container_section2{
        display: flex;
        flex-wrap: wrap;
        
    }
    .container_img{
        width: 100%;
    }
    .container_text{
        width: 90%;
    }
    .img_profil{
        margin-bottom: 30px;
    }
    .container_carte{
        
        flex-wrap: wrap;
        align-items: center;
    }
    #portfolio{
        height: 1400px;
    }
    .laCarte{
        width: 60%;
        margin-right: 0;
        margin-top: 0;
        
    }
    .derriereCarte{
        margin: 0;
        top: 0;
        bottom: 0;
    }
}
@media screen and (min-width: 1200px) and (max-width: 3000px){
    .derriereCarte{
        margin: 0;
        top: 0;
        bottom: 0;
    }

}